<!-- content -->
<section class="py-5">
  <div class="container">
    <div class="row gx-5">
      <aside class="col-lg-6">
        <div class="border rounded-4 mb-3 d-flex justify-content-center">
          <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="{{ event.image }}"/>
          </a>
        </div>
      </aside>
      <main class="col-lg-6">
        <div class="ps-lg-3">
          <h4 class="title text-dark">
            {{ event['title'] }}
          </h4>

          <p>
            {{ event['description'] }}
          </p>

          <div class="row">
            <dt class="col-3">Start Date :</dt>
            <dd class="col-9">{{ event.start_date }}</dd>

            <dt class="col-3">End Date :</dt>
            <dd class="col-9">{{ event.end_date }}</dd>

            <dt class="col-3">Category :</dt>
            <dd class="col-9">{{ event.category_id }}</dd>
          </div>

          <hr/>
        </div>
      </main>
    </div>
  </div>
</section>
